
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* --------------BARRE DE NAVIGATION  -------------------- */

.navbar {
    background-color: rgb(80, 0, 0);
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0%;
    z-index: 10000;
    font-family: 'Lato', sans-serif;;
    align-items: center;
    justify-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-active{
    background-color:rgb(60, 0, 0) ;
}

.categorie-gauche-nav-bar {
    margin-left: 20%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(60, 0, 0);
}

#searchBox {
    border-radius: .7rem;
    padding: 10px;
    margin: 3px;
    font-size: 17px;
}

.search-container input[type="image"] {
    height: 24px;
    float: left;
    padding: 14px;
}


.img-panier {
    filter: invert();
    height: 26px;
}

#loupe {
    filter: invert();
}

#logo-barre-nav {
    position: absolute;
    height: 30px;
    width: auto;
    margin-left: 90px;
    margin-top: 20px;
}

.img-panier-a{
   margin-left: 25%;
}


/* -------------------------------- */

#produit {
    margin-top: 8%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 250px;
    
}

#partieAchat {
    margin-left: 5%;
    background: rgb(0, 0, 0, .7);
    padding: 30px;
    border-radius: 10%;
    border: 5px solid #141414;
}

#partieImage {
    margin-left: 20%;
}

/* PARTIE CASE A COCHER */

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: rgb(80, 0, 0);
}

label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 110%;
    color: #e9e9e9;
    padding-left: 7px;
}

/* ---------------------------------------------- */

/* Styles pour le menu hamburger (masqué par défaut) */
.menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    background-color: #202020;
    padding: 15px;
}


.menu-icon {
    font-size: 35px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
}

.menu-items {
    list-style-type: none;
    margin-bottom: 3px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items li {
    margin: 10px 0;
}

.menu-items a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.menu-items label {
    display: none;
    cursor: pointer;
}

.menu input[type="checkbox"] {
    display: none;
}

/* Masquez la liste par défaut */
.menu-items {
    display: none;
}

/* Affichez la liste lorsque la case à cocher est cochée */
input[type="checkbox"]:checked ~ .menu-items {
    display: flex;
}

/* balise general */
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
}

/* classes */
.image-de-fond{
    position: fixed;
    z-index: -9;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.entete{
    background-color: gray;
    border: 1px solid #ccc;
    padding: 1% 15%;
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    appearance: none; /* Supprimer l'apparence par défaut du navigateur */
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 60%;
    padding: 10px;
    margin-left: 1%;
    border: solid gray 1px;
    overflow: hidden;
}

.container-image {
    position: absolute;
    top: 22%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    transition: all 1000ms;
    font-size: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    outline: 2px solid white;
    opacity: 0.6;
    width: fit-content;
}

button:hover {
    color: black;
    outline: 2px solid white;
    box-shadow: 1px 1px 15px 4px white;
    opacity: 1;
}
    
button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
    
button:hover::before {
    width: 250%;
}

/* FOOTER ============================================================*/ 
.footer{
    background: transparent;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
    
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
    
.footer .row a:hover{
    color:#fff;
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media (max-width:720px){
    .search-container input[type="image"] {
        height: 20px;
        padding: 10px;
    }
    .search-container input[type="text"] {
        font-size: 14px;
        padding: 10px;
    }
    .button {
        font-size: 12px;
        padding: 0.5em 1em;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
    /* Adjust styles for smaller screens */
    .container-image {
        top: 27%;
    }
    .button {
        top: 50%;
    }
}
@media (min-width: 721px) and (max-width: 1024px) {
    /* Adjust styles for medium screens */
    .search-container input[type="image"] {
        height: 22px;
        padding: 12px;
    }
    .search-container input[type="text"] {
        font-size: 15px;
        padding: 12px;
    }
    .button {
        font-size: 14px;
        padding: 0.7em 1.5em;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
    .container-image {
        top: 25%;
    }
    .button {
        top: 55%;
    }
}

@media (min-width: 1025px) {
    /* Adjust styles for large screens */
    .search-container input[type="image"] {
        height: 24px;
        padding: 14px;
    }
    .search-container input[type="text"] {
        font-size: 17px;
        padding: 14px;
    }
    .button {
        font-size: 15px;
        padding: 1em 2em;
    }
    .footer .row ul li{
        display:inline-block;
        margin:0px 30px;
    }
    .footer .row a i{
        margin:0% 1%;
    }
    .container-image {
        top: 30%;
    }
    .button {
        top: 60%;
    }
}

.button a {
    color: black;
}

.texte {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 80%;
    max-height: 50%;
    overflow-y: auto;
}
