/* styles.css */

/* --------------BARRE DE NAVIGATION  -------------------- */
@media (min-width:720px){
.menu{
    display: none;
}
.navbar {
    background-color: rgb(80, 0, 0);
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0%;
    z-index: 10000;
    font-family: 'Lato', sans-serif;;
    align-items: center;
    justify-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-active{
    background-color:rgb(60, 0, 0) ;
}

.categorie-gauche-nav-bar {
    margin-left: 20%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(60, 0, 0);
}

#searchBox {
    border-radius: .7rem;
    padding: 10px;
    margin: 3px;
    font-size: 17px;
}

.search-container input[type="image"] {
    height: 24px;
    float: left;
    padding: 14px;
}


.img-panier {
    filter: invert();
    height: 26px;
}

#loupe {
    filter: invert();
}

#logo-barre-nav {
    position: absolute;
    height: 30px;
    width: auto;
    margin-left: 90px;
    margin-top: 20px;
}

.img-panier-a{
   margin-left: 25%;
}
}

@media (max-width:720px){
.navbar{
    display: none;
}

.menu {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 10px;
    position:sticky;
    z-index: 100000;
}



.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items li {
    margin: 10px 0;
}

.menu-items a {
    text-decoration: none;
    color: white;
}

.menu-items label {
    display: none;
    cursor: pointer;
}

.menu input[type="checkbox"] {
    display: none;
}

/* Masquez la liste par défaut */
.menu-items {
    display: none;
}

/* Affichez la liste lorsque la case à cocher est cochée */
input[type="checkbox"]:checked ~ .menu-items {
    display: flex;
}
}
/* FOOTER ============================================================*/ 

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    position: relative;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }






html{
    overflow-x: hidden;
}

.espace{
    margin-bottom: 20%;
}
.image-de-fond{
    
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -99999;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    
}
body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
}

p{
    color:white;
    text-decoration:none;
}
h1{
    color:white;
    text-decoration:none;
    font-size:25px;
}
@media (min-width:720px){


.box1 {
        background: rgba(0,0,0,0.6) ;
        position: relative;
        border-left: white 2px solid;
        border-top: white 2px solid;
        border-right: white 2px solid;
        border-bottom: white 2px solid;
    border-radius: 10px;
    padding: 30px;
    padding-left: 10px;
    text-align: center;
    width: 500px;
    margin-top: 5%;
    margin-left: 18%;
    margin-bottom: 10%;
    
}

.box4{
        background: rgba(0,0,0,0.6);
        font-size: 28px;
        position:absolute;
        border-left: white 1px solid;
        border-top: white 1px solid;
        border-right: white 1px solid;
        border-bottom: white 1px solid;
        border-radius: 10px;
        padding: 30px;
        padding-left: 10px;
        text-align: center;
        width: 500px;
        margin-top: -25%;
        margin-left: 60%;
        
        
    
}

select{
    font-size: 20px;
}



#cart {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#total {
    font-weight: bold;
}

#checkout {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
}

.search-container1 input[type="image"] {
    height: 24px;
    padding: 14px;
}

.search-container1 input[type="text"] {
    font-size: 17px;
    padding: 14px;
}
@media (max-width:720px){

    
    .box1 {
    background: rgba(0,0,0,0.6);
    position: relative;
    border-left: white 2px solid;
    border-top: white 2px solid;
    border-right: white 2px solid;
    border-bottom: white 2px solid;
        border-radius: 10px;
        padding: 30px;
        padding-left: 10px;
        text-align: center;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        
    }
    .box4{
       
        background: rgba(0,0,0,0.6);
        font-size: 28px;
        position:relative;
        border-left: white 2px solid;
        border-top: white 2px solid;
        border-right: white 2px solid;
        border-bottom: white 2px solid;
            border-radius: 10px;
            padding: 30px;
            padding-left: 10px;
            text-align: center;
            margin-top: 5%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 10%;
        
        
    }

    select{
        font-size: 15px;
    }
    
    h1{
        font-size: 20px;
        color: #fff;
    }
    p{
        color: white;
    }


    #cart {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .cart-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .cart-item button {
        background-color: #ff6666;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #total {
        font-weight: bold;
    }
    
    #checkout {
        background-color: #4caf50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

