/* navbar */

.navbar {
    background-color: rgb(80, 0, 0);
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    z-index: 10000;
    font-family: 'Lato', sans-serif;;
    align-items: center;
    justify-items: center;
}
.page-active{
    background-color:rgb(60, 0, 0) ;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(60, 0, 0);
}

#searchBox {
    border-radius: .7rem;
    padding: 10px;
    margin: 3px;
    font-size: 17px;
}

.search-container input[type="image"] {
    height: 24px;
    float: left;
    padding: 14px;
}


.img-panier {
    filter: invert();
    height: 26px;
}

#loupe {
    filter: invert();
}

#logo-barre-nav {
    height: 30px;
    width: auto;
    margin-right: 50px;
}

#seConnecter {
    margin-right: 30px;
}

.img-panier-a{
   margin-left: 30%;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


#produit {
    margin-top: 15%;
}

#exempleProduit {
    position: absolute;
    height: 500px;
    width: auto;
    border-radius: 15px;
    margin-left: 20%;
}

.exempleChoix {
    height: 80px;
    border-radius: 8px;
    margin-top: 11%;
    margin-left: 0.5%;
}

#exempleChoixPremier {
    margin-left: 52.5%;
}

.nomProduit {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 52%;
}

.categorieProduit {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 120%;
    margin-left: 52%;
    margin-top: 65px;
}

.prixProduit {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 52%;
    margin-top: 115px;
}

